/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Rubik+Glitch+Pop&display=swap');

/* General styles */
.App {
  text-align: center;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: #333;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.main-content {
  padding-bottom: 100px; /* Adjust as necessary */
}

.section {
  padding: 50px 20px;
}

.contact {
  margin-bottom: 0; /* Remove margin from contact section */
}

.footer {
  background-color: #333; /* Background color for the entire footer section */
  color: #fff;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0; /* Remove margin from footer */
}




/* Unique styles for each section */
.about {
  background-color: white;
  
  
  
}


.services {
  background-color:white;
}

.portfolio {
  background-color: white;
}

.contact {
  background-color:white;
}
