.title{
    font-family: 'Barriecito', system-ui;
    font-size: 50px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Example color */
    position: relative;
    display: inline-block;
    padding: 0 10px;
  }
  
  .title::before,
  .title::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    border: 2px solid #333; /* Example border color */
    border-top: none;
    border-bottom: none;
  }
  
  .title::before {
    left: -5px;
    transform: skewX(45deg);
  }
  
  .title::after {
    right: -5px;
    transform: skewX(-45deg);
  }
  


.cards-container {
    display: flex;
    overflow-x: auto;
    width: 100%; /* Adjust as needed */
    font-family: 'Barriecito', system-ui;
  }


.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 10px; 
    
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-details {
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .card-details p {
    margin: 0;
  }
  
  button{
    background-color: transparent;
    border: none;
  }

 

 


  
  
  

 
  